@model IEnumerable<LibraryFacilitator.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckedIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheckedIn)
            </td>
            <td>
                @if (item.IsCheckedIn == true)
                {
                    <a asp-action="Create" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-primary disabled">Checkout</a>
                    <a asp-action="Checkin" asp-route-id="@item.Id" class="btn btn-success">Check In</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                }
                else
                {
                    <a asp-action="Create" asp-controller="Users" asp-route-id="@item.Id" class="btn btn-primary">Checkout</a>
                    <a asp-action="Checkin" asp-route-id="@item.Id" class="btn btn-success disabled">Check In</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
                }
                


                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
